<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div id="leftbar" th:fragment="menu">
    	<!-- Main Menu List -->
      <ul class="list-unstyled">
      	<li>
      		<a href="#" th:href="@{/category/list?page=0&size=5}">Category</a>
      	</li>
      	<li>
      		<a href="#" th:href="@{/author/list?page=0&size=5}">Author</a>
      	</li>
      	<li>
      		<a href="#" th:href="@{/book/list?page=0&size=5}">Book</a>
      	</li>
      </ul>
    </div>
  
  </body>
  
</html>