<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All categories</title>
	<meta charset="ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Edit book</h1>
				
				<form class="form-group" action="/book/edit" th:action="@{/book/edit}" method="post">
		            <input th:type="hidden" name="id" th:field="${book.id}" />
		            
		            <div class="form-group">
		                <label for="title">Name</label>
		                <input type="text" class="form-control" id="name" th:field="${book.name}" />
		                <p class="error" th:if="${#fields.hasErrors('book.name')}" th:errors="*{book.name}">Incorrect data</p>
		            </div>
		            
		             <div class="form-group">
		                <label for="title">Category</label>
		                <select th:field="${book.category}">
	                         <option value=""> -- </option>
	                         <option th:each="category : ${categories}"
	                            th:value="${category.id}"
	                            th:utext="${category.name}"/>
	                  	</select>
		            </div>
		            
		            <div class="form-group">
		                <label for="title">Authors</label>
		                <select th:field="${book.authorList}" multiple="multiple">
	                         <option value=""> -- </option>
	                         <option th:each="author : ${authors}"
	                            th:value="${author.id}"
	                            th:utext="${author.name}"/>
	                  	</select>
		            </div>
		            
		            <div class="form-group">
		                <label for="publication-date">Publication Date</label>
		                <input type="text" class="form-control" id="publication-date" th:field="${book.publicationDate}" />
		                <p class="error" th:if="${#fields.hasErrors('book.publicationDate')}" th:errors="*{book.publicationDate}">Incorrect data</p>
		            </div>

		            <button type="submit" class="btn btn-primary">Save</button>
		            <a href="#" th:href="@{/book/list}" class="btn btn-danger" role="button">Cancel</a>
		        </form>
				
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>